:root {
  --gold-primary: #D4AF37;
  --gold-dark: #aa8a2e;
  --dark-bg: #121212;
  --light-text: #f8f9fa;
}

body {
  background-color: #ffffff; /* Clean white background for the shop */
  color: #333;
}

/* Custom Gold Button */
.btn-gold {
  background-color: var(--gold-primary);
  color: white;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-gold:hover {
  background-color: var(--gold-dark);
  color: white;
}

.text-gold {
  color: var(--gold-primary);
}

/* hover animation */

.transition-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transition-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

/* live price */
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: ticker 30s linear infinite;
}

.ticker-track:hover {
  animation-play-state: paused; /* User can pause by hovering */
}